<h1>Consume <%= name %></h1>
<form id="consume" class="well">
<label>Email Address</label>
<input type="email" placeholder="subscribe@rewards.com" />
<button class="btn help-inline" type="submit">Submit</button>
</form>

<a href="#/index" class="btn btn-primary">Back</a>
