<td><i class="icon-pencil"></i><span class="editable-name"><%= name %></span></td>
<td><%= list_name %></td>
<td><a href="#/<%= id %>/consume" class="btn btn-primary">Consume</a></td>
<td><a href="#/<%= id %>/destroy" class="btn btn-danger">Destroy</a></td>
