<td class="popper" data-placement="top" data-content="Click the pencil to edit this Coupon's name." title="Renaming"><i class="icon-pencil"></i><span class="editable-name"><%= name %></span></td>
<td><%= list_name %></td>
<td class="popper" data-placement="top" data-content="Enter in an email address to mark their coupon as used." title="Marking the deal as done."><a href="#/<%= id %>/consume" class="btn btn-primary">Consume</a></td>
<td class="popper destroy" data-placement="top" data-content="Delete all coupon data here and in MailChimp." title="Kablamo"><a href="#/<%= id %>/destroy" class="btn btn-danger">Destroy</a></td>
