<h1>All coupons</h1>

<table id="coupons-table" class="table table-striped sortable">
  <thead>
  <tr>
    <th>Name</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br/>

<a href="#/new" class="btn btn-success">New Coupon</a>
