<h1>New coupon</h1>

<form id="new-coupon" name="coupon">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="list_id"> list: </label>
    <select name="list_id">
      <% for (var i=0;i< MailchimpCoupons.Lists.length;i++) { %>
        <option value="<%=MailchimpCoupons.Lists[i].id%>"><%=MailchimpCoupons.Lists[i].name%></option>
      <% }%>
    </select>
  </div>

  <div class="actions">
    <input type="submit" value="Create Coupon" />
  </div>

</form>

<a href="#/index">Back</a>
