<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>List:</b>
  <%= list_id %>
</p>

<p>
  <b>Parameter name:</b>
  <%= parameter_name %>
</p>

<p>
  <b>List name:</b>
  <%= list_name %>
</p>


<a href="#/index">Back</a>